@import "tailwindcss";

body{
    background: rgb(14,13,12);
color: white;
}

.bg{
background: rgb(26,27,28);

}

.bg2{
    background: rgb(14,13,12);
}

.bg3{
  background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));  
}